@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section javascript {

    <script type="text/javascript">

        $(document).ready(function () {

            $("#janela_edicao").hide();

            $.ajax({
                type: "POST",
                url: "/Time/Consultar",
                success: function (lista) {

                    if (lista[0] != null) {

                        var dados = "";

                        for (var i = 0; i < lista.length; i++) {

                            dados += "<tr>";
                            dados += "<td align='center'>" + lista[i].IdTime + "</td>";
                            dados += "<td align='center'>" + lista[i].Nome + "</td>";
                            dados += "<td align='center'>" + lista[i].DataFundacao + "</td>";
                            dados += "<td>" + '<button class="btn-link" onclick="editFunction(\'' + lista[i].IdTime + '\')">' + " Editar" + "</button>" + " " +
                                                        '<button class="btn-link" onclick="deleteFunction(\'' + lista[i].IdTime + '\');" >' + " Excluir" + "</button>" + "</td>";
                            dados += "</tr>";
                        }

                        $("#lista_time tbody").empty();
                        $("#lista_time tbody").append(dados);
                    }
                },
                error: function (e) {
                    $("mensagem_time").html(e.status);
                }
            });
        });

        function deleteFunction(id) {

            var Model = {

                IdTime: id
            }

            $.ajax(
                {
                    type: "POST",
                    url: "/Time/Excluir",
                    data: Model,
                    success: function (msg) {

                        $("#mensagem_time").html(msg);

                        window.setTimeout(
                                        function () {
                                            location.reload()
                                        }, 3000)

                    },
                    error: function (e) {
                        $("#mensagem_time").html(e.status);
                    }
                });
        }

        function editFunction(id) {

            var Model = {

                IdTime: id
            }

            $.ajax(
                {
                    type: "POST",
                    url: "/Time/Editar",
                    data: Model,
                    success: function (resultado) {

                        $("#janela_edicao").show();

                        $("#time_codigo").val(resultado.IdTime);
                        $("#time_nome").val(resultado.Nome);
                        $("#time_fundacao").val(resultado.DataFundacao);
                    },
                    error: function (e) {
                        $("mensagem_time").html(e.status);
                    }
                });

            $("#btnAtualizar").click(function () {

                var Model = {

                    IdTime: $("#time_codigo").val(),
                    Nome: $("#time_nome").val(),
                    DataFundacao: $("#time_fundacao").val()
                }

                $.ajax(
                    {
                        type: "POST",
                        url: "/Time/Atualizar",
                        data: Model,
                        success: function (msg) {

                            $("#mensagem_time").html(msg);
                            $("#janela_edicao").hide();

                            window.setTimeout(
                                       function () {
                                           location.reload()
                                       }, 3000)
                        },
                        error: function (e) {
                            $("#mensagem_time").html(e.status);
                        }
                    });
            })

            $("#btnCancelar").click(function () {
                $("#janela_edicao").hide();
            });
        }

    </script>

}

<div class="container" id="janela_edicao">

    <div class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-md-2">Código:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="time_codigo" readonly />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Nome:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="time_nome" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Data de Fundação:</label>
            <div class="col-md-2">
                <input type="text" onblur="(this.type='text')" onfocus="(this.type='date')" class="form-control" id="time_fundacao" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default" id="btnAtualizar">Atualizar</button>
                <button class="btn btn-default" id="btnCancelar">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<div class="container" style="text-align:center">
    <h3>Lista de Times</h3>
    <br />
</div>

<div class="container">

    <table id="lista_time" class="table table-hover" style="text-align:center">
        <thead>
            <tr>
                <th style="text-align:center">
                    Código
                </th>
                <th style="text-align:center">
                    Nome
                </th>
                <th style="text-align:center">
                    Data de Fundação
                </th>
                <th style="text-align:center">
                    Opções
                </th>
            </tr>
        </thead>

        <tbody>
            <tr class="info">
                <td align="center">Não há dados para exibir.</td>
            </tr>
        </tbody>

    </table>
    <span id="mensagem_time"></span>
</div>

