<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Projeto CRUD 003 - DDD(Entity Framework/MVC(AngularJS))</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    @RenderSection("javascript", required: false)

</head>
<body>

    <div class="container">
        
        <h3>Projeto CRUD 006 - WCF Client</h3>
        <hr />

        <h4>Time</h4>
        <a href="/Time/Cadastro">Cadastrar</a>
        <br />
        <a href="/Time/Consulta">Consultar</a>
        <hr />

        <h4>Jogador</h4>
        <a href="/Jogador/Cadastro">Cadastrar</a>
        <br />
        <a href="/Jogador/Consulta">Consultar</a>
        <hr />
           
    </div>

    <div class="row">
        @RenderBody()
    </div>
</body>
</html>
