@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section javascript{

    <script type="text/javascript">

        $(document).ready(function () {

            $.ajax({

                type: "POST",
                url: "/Jogador/Consultar",
                success: function (lista) {

                    if (lista[0] != null) {
                        var dados = "";

                        for (var i = 0; i < lista.length; i++) {

                            dados += "<tr>";
                            dados += "<td align='center'>" + lista[i].IdJogador + "</td>";
                            dados += "<td align='center'>" + lista[i].Nome + "</td>";
                            dados += "<td align='center'>" + lista[i].Apelido + "</td>";
                            dados += "<td align='center'>" + lista[i].Posicao + "</td>";
                            dados += "<td align='center'>" + lista[i].DataNascimento + "</td>";
                            dados += "<td align='center'>" + lista[i].Time + "</td>";
                            dados += "<td>" + '<button class="btn-link" onclick="editFunction(\'' + lista[i].IdJogador + '\')">' + " Editar" + "</button>" + " " +
                                                        '<button class="btn-link" onclick="deleteFunction(\'' + lista[i].IdJogador + '\');" >' + " Excluir" + "</button>" + "</td>";
                            dados += "</tr>";
                        }
                        $("#lista_jogadores tbody").empty();
                        $("#lista_jogadores tbody").append(dados);
                    }
                },
                error: function (e) {
                    $("#mensagem_jogador").html(e.status);
                }
            });
        })

        function deleteFunction(id) {

            var Model = {

                IdJogador: id
            }

            $.ajax({

                type: "POST",
                url: "/Jogador/Excluir",
                data: Model,
                success: function (msg) {
                    $("#mensagem_jogador").html(msg);

                    window.setTimeout(
                                        function () {
                                            location.reload()
                                        }, 3000)
                },
                error: function (e) {
                    $("#mensagem_jogador").html(e.status);
                }
            });

        }

    </script>

}

<div class="container" style="text-align:center">
    <h3>Lista de Jogadores</h3>
    <br />
</div>

<div class="container">

    <table id="lista_jogadores" class="table table-hover" style="text-align:center">
        <thead>
            <tr>
                <th style="text-align:center">
                    Código
                </th>
                <th style="text-align:center">
                    Nome
                </th>
                <th style="text-align:center">
                    Apelido
                </th>
                <th style="text-align:center">
                    Posição
                </th>
                <th style="text-align:center">
                    Data de Nascimento
                </th>
                <th style="text-align:center">
                    Time
                </th>
                <th style="text-align:center">
                    Opções
                </th>
            </tr>
        </thead>

        <tbody>
            <tr class="info">
                <td align="center">Não há dados para exibir.</td>
            </tr>
        </tbody>

    </table>

    <span id="mensagem_jogador"></span>

</div>
